/* ---- ( iTunes CSS ) ---- */
table.i { 
	font: 90% 'News Cycle', "Apple Gothic", "Segoe UI Semibold", sans-serif;
	color: #000;
	text-align: left;
	border-collapse: collapse;
	border: 1px solid #ccc;
/*	border-top: none;	*/
	width: 100%;

}
table.i a {
	text-decoration: underline;
}
table.i a:visited {
	text-decoration: none;
}
tr.odd {
	background-color: #ebf3ff;
}
tr.i a {
	color: #000000;
}
tr.i:hover a {
	color: #ffffff;
}
tr.i:hover, tr.odd:hover {
	background-color: #3d80df;
	color: #ffffff;
}
caption.i {
	height: 45px;
	line-height: 44px;
	color: #60634E;
	font-weight: bold;
	text-align: center;
	width: 100%;
	margin: 0;
	padding: 0;
	margin-left: -1px;
	background: #ffffff url(captop.jpg) repeat-x;
	background-position: 50% top;
	border-left: 2px solid #616161;
	border-right: 2px solid #616161;
}
table.i th {
	font-size: 105%;
	color: #000;
	background: #ebf3ff repeat-x;
	height: 33px;
}
table.i th:hover {
	background: #3d80df /*url(tbov.gif)*/ repeat-x;
	
}
tr.i {
	vertical-align: top;
}
tr.i,th.i,td.i {
	padding: .75em;
}
td.i {
	border-left: 1px solid #ccc;
}
tfoot.i tr {
	background: #fff url(bbar.gif) repeat-x;
}
tfoot.i td, tfoot.i th{
	color: #000;
	border: 0px;
}