body {
	background-color: white;
	font-family: "Apple Gothic", "Segoe UI Semibold", Helvetica, sans-serif;
}

a {
    color: black;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: none;
    border-bottom: 1px dotted #ccc;
}

a:active {
    text-decoration: none
		border-bottom: 1px dotted #ccc;
   
}

h1 {
	text-align: center;
	text-shadow: lightgray 2px 2px 4px;
	font-weight:lighter;
	color:#333;
  /*text-transform:uppercase;*/
  letter-spacing:1px;
  font-size:1.7em;
}

h2 {
	text-align: left;
	color: #666;
	text-shadow: lightgray 2px 2px 4px;
	font-weight: lighter;
	font-size:1.0em;
}

p.small {
	font-size:0.8em;
}


/*
ul.small {
	list-style-type:circle;
	marign-left: 0; 
	padding-left: 10px;
	font-size:0.8em;
}
*/


legend
        {
        font-weight:lighter;
        font-family:"Apple Gothic", "Segoe UI Semibold", Helvetica, sans-serif;
        text-align:left;
        /*margin-top:1em;*/
        color:#333;
        text-transform:uppercase;
        letter-spacing:1px;
        font-size:1.2em;
        line-height:1.5em;
        
        }
        
fieldset
        {
        text-align:left;

				border:3px double #ccc;
        -webkit-border-radius:8px;
        -moz-border-radius:8px;
        border-radius:8px;
        
        }
        

h3 {
	font-family: "Apple Gothic", "Segoe UI Semibold", Helvetica, sans-serif;
	color: black;
	text-shadow: lightgray 1px 1px 2px;
}

#menu {
  position: fixed;
  /*border: thin #FFCC00 solid;*/
  /*background: #e0e0e0;*/
  left: 5;
  top: 0;
  width: 175;
  /*padding: 5;*/
  line-height: 1.3em;

}

#wrapper {
	/*border: thin #FFCC00 solid;*/
	/*width: 400px;*/
	margin-right: 0;
	margin-left: 180;
/*
	left: 190;
	right: 10;
*/
	font-family: "Apple Gothic", "Segoe UI Semibold", Helvetica, sans-serif;
}

#middle {
	/*border: thin #FFCC00 solid;*/
	top: 0;
	margin-left: 180;
	margin-right:305;
}

#staging {
	position: fixed;
	/*border: thin #FFCC00 solid;*/
	top: 0;
	right: 5;
	width: 300px;
}

.intro {
	padding: 5px;
	
}
.photoElement {
	padding: 5px;
	margin: 0px 0px 5px 0px;
}

img {
	margin: 5px;
}

.elementLeft {
	float: left
}

.elementRight {
	float: right
}


.clear{clear:both; height:1px;}
/* ----------- My Form ----------- */
.myform{
margin:0 auto;
width:400px;
padding:14px;
}

/* ----------- stylized ----------- */
#stylized{
border:solid 2px #b7ddf2;
background:#ebf4fb;
}
#stylized h1 {
font-size:14px;
font-weight:bold;
margin-bottom:8px;
}
#stylized p{
font-size:11px;
color:#666666;
margin-bottom:20px;
border-bottom:solid 1px #b7ddf2;
padding-bottom:10px;
}
#stylized label{
display:block;
font-weight:bold;
text-align:right;
width:140px;
float:left;
}
#stylized .small{
color:#666666;
display:block;
font-size:11px;
font-weight:normal;
text-align:right;
width:140px;
}
#stylized input{
float:left;
font-size:12px;
padding:4px 2px;
border:solid 1px #aacfe4;
width:200px;
margin:2px 0 20px 10px;
}
#stylized button{
clear:both;
margin-left:150px;
width:125px;
height:31px;
background:#666666 url(img/button.png) no-repeat;
text-align:center;
line-height:31px;
color:#FFFFFF;
font-size:11px;
font-weight:bold;
}




